-
  var people = [{
      name: "Вениамин Редакторович",
      message: "Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?",
      avatar: "/images/avatar_4.jpg",
      time: "8 минут назад"
    },
    {
      name: "",
      message: "Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень",
      avatar: "/images/avatar_1.jpg",
      time: "5 минут назад"
    },
    {
      name: "Вениамин Редакторович",
      message: "Лады",
      avatar: "/images/avatar_4.jpg",
      time: "5 минут назад"
    },
    {
      name: "",
      message: "А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие",
      avatar: "/images/avatar_1.jpg",
      time: "3 минуты назад"
    },
    {
      name: "Вениамин Редакторович",
      message: "о_О",
      avatar: "/images/avatar_4.jpg",
      time: "Только что"
    }]

.dialog-header.d-flex.align-items-center.border-bottom.border-gray
  img(src="/images/avatar_4.jpg").rounded-circle
  .ps-4
    p.mb-0
      strong Вениамин Редакторович
    p.small.mb-0.muted Онлайн
.mt-5.dialog-body.mx-0.d-flex.flex-column.px-4.px-md-0
  each user in people  
    if user.name == ''
      .d-flex.align-items-end.mb-3.p-0.message.mx-md-5.align-self-md-end
        img(src=user.avatar).rounded-circle.d-none.d-sm-none.d-md-block
        .p-4.message-text.ms-md-3.bg-primary
          p.text-white.mb-0= user.message
          hr.text-gray         
          p.text-white.time.mb-0= user.time
    else
      .d-flex.align-items-end.mb-3.p-0.message.mx-md-5
        img(src=user.avatar).rounded-circle.d-none.d-sm-none.d-md-block
        .p-4.message-text.ms-md-3.bg-light
          p.mb-0
            strong= user.name
          p.text-muted.mb-0= user.message
          hr.text-gray        
          p.text-muted.time.mb-0= user.time  

form.send-message-form.mx-md-5.d-flex.mb-3.mt-3
  input(type='text' placeholder='Напишите сообщение...').form-control.border-0.shadow-none.ps-4
  .button(type="submit").btn.btn-primary.rounded-circle.d-flex.align-items-center.justify-content-center
    img(src="/images/icons/cursor.svg")

